.headerContainer {
  padding: 3%;
  background: #fff;
  box-shadow: 0 2px 2px -2px gray;
  /* These do the magic */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  z-index: 1;
}
