.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  width: 20rem;
  height: 10rem;
  padding: 0;
  margin: 0;
}

.searchBtn {
  background-color: '#2D74DF' !important;
  color: '#ffffff';
}

.subtitle {
  color: white;
  font-size: 40px;
}

.illustration {
  margin: 0 auto;
  margin-top: 50px;
  color: orange;
}
